* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: rgba(0, 0, 255);
}

label:active img {
    opacity: .4;
}

h1 {
    width: 100%;
    color: rgb(0, 0, 0);
}

.wrapper {
    width: 100%;
    height: 100%;
}

body {
    padding: 3% 10% 10%;
    background: center/cover, rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme-item-wrapper__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus_icon {
    font-size: 5vh;
}

img {
    max-height: 0;
    width: 70%;
    max-width: 70vh;
    margin-bottom: 3vh;
    transition: 0.2s ease;
}

input {
    display: none;
}

input:checked~img {
    max-height: 100vh;
    padding: 3vh 0;
}

input:checked~div .title,
input:checked~div .plus_icon {
    color: rgb(0, 0, 0);
}

label {
    padding-top: 3vh;
    border-top: .5vh solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:checked:active~div .title,
input:checked:active~div .plus_icon {
    color: rgb(67, 136, 220);
}

input:checked~div .plus_icon {
    transform: rotate(45deg);
    transition: .5s ease;
}

@media (hover: hover) and (pointer: fine) {
    label:hover img {
        max-height: 100vh;
        transition: max-height 0.5s ease;
    }

    input:hover~div .plus_icon {
        transform: rotate(45deg);
        transition: .5s ease;
    }

    input:hover:active~div .title,
    input:hover:active~div .plus_icon {
        color: rgb(67, 136, 220);
    }

    .wrapper:hover {
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
        color: blue;
    }

    .wrapper:hover .title,
    .wrapper:hover .plus_icon {
        color: rgb(0, 0, 0);
    }

}

@media all and (min-width: 821px) {
    * {
        font-size: 5vh;
    }

    .plus_icon {
        display: none;
    }

    .wrapper:hover .plus_icon {
        display: block;
    }
}