*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4vh;
    color: rgba(0, 0, 255);
}

h1 {
    width: 100%;
    color: rgb(0, 0, 0);
}

.wrapper {
    width: 100%;
    height: 100%;
}

body {
    padding: 3% 10% 10%;
    background: center/cover, rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme-item-wrapper__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plus_icon {
    width: 4vh;
    height: 4vh;
    position: relative;
}

.plus_icon,
.plus_icon::before,
.plus_icon::after {
    transition: all 0.3s ease 0s;
    /* display: none; */
}

.plus_icon::before,
.plus_icon::after {

    position: absolute;
    height: 20%;
    width: 100%;
    content: "";
    background-color: #000000;
}

.plus_icon::before {
    top: 42%;
    right: 10%;
    transform: rotate(90deg) translate(0px, -50%);
}

.plus_icon::after {
    top: 50%;
    transform: rotate(180deg) translate(0px, 50%);
}

img {
    width: 80%;
    height: 0;
    overflow: hidden;
    transition: .9s;
    max-width: 70vh;
    margin-bottom: 3vh;
}

input {
    display: none;
}

input:checked~img {
    height: auto;
    padding: 3vh 0;
}

label:hover img {
    height: auto;
    padding: 3vh 0;
    transition: .9s ease;
}

input:checked~div .title {
    color: rgb(0, 0, 0);
}

label {
    padding-top: 3vh;
    border-top: .5vh solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 1100px) {
    label:hover {
        cursor: pointer;
        color: blue;
    }

    .wrapper:hover .title {
        color: rgb(0, 0, 0);
    }

    .wrapper:hover {
        cursor: pointer;
    }
}